[user]
	name = Subhaditya Nath
	email = sn03.general@gmail.com
[init]
	defaultBranch = main
[push]
	followTags = true
[blame]
	coloring = repeatedLines
[color "blame"]
	repeatedLines = 12
[fetch]
	parallel = 0	; uses reasonable default if set to 0
	prune = true
	pruneTags = true
[help]
	autocorrect = prompt
[alias]
	h = help
	dev = checkout -B dev
[log]
	follow = true
