# ACTION=="add", SUBSYSTEM=="input", KERNEL=="event*", DEVPATH!="*/virtual/*", ENV{ID_INPUT_KEYBOARD}=="?*", RUN+="/bin/sh -c '/usr/local/bin/capsctrl /dev/$name'"
