/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  border: inherit;
  background: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
  transition: none;
}


* {
  font-family: 'Recursive Sn Csl St';
  font-size: 16px;
  border-radius: 0;
  border-width: 0;
  padding: 0;
  margin: 0;
}
window#waybar {
  background: #222;
  color: white;
}


/* Paddings */
#idle_inhibitor,
#network,
#pulseaudio,
#battery,
#mode,
#clock              { padding: 0 0.4em;  }
#clock.time         { padding: 0 0.3em;  }
#workspaces button  { padding: 0 0.15em; }


/* Right modules */
#idle_inhibitor {
  background: #497;
  color: black;
}
#idle_inhibitor.activated {
  background: red;
  color: black;
}

#network.wifi {
  background: #609eff;
  color: black;
}
#network.linked {
  background: #f75;
  color: black;
}

#pulseaudio {
  background: #E9F;
  color: black;
}
#pulseaudio.muted {
  background: #F66;
}

#pulseaudio.mic {
  background: #A9F;
  color: black;
}
#pulseaudio.mic.source-muted {
  background: #F44;
}

#battery {
  color: #000000;
  background: #ffffff;
}
#battery.charging {
  background: #0ff;
}
#battery.full:not(.charging)     { background: #0f8; }
#battery.good:not(.charging)     { background: #6f3; }
#battery.okay:not(.charging)     { background: #ee8; }
#battery.low:not(.charging)      { background: #f77; }
#battery.warning:not(.charging)  { background: #f50; }
#battery.critical:not(.charging) { background: #f00; }
#battery.low:not(.charging)      { font-size: 1.15em; }
#battery.warning:not(.charging)  { font-size: 1.35em; }
#battery.critical:not(.charging) { font-size: 1.65em; }
#battery.critical:not(.charging) { font-weight: bolder; }

#clock.date {
  background: #f90;
  color: black;
}
#clock.time {
  font-size: 1.25em;
  background: #fd0;
  color: black;
}


/* Left modules */
#mode {
  background: #f55;
  color: black;
}

#workspaces button {
  color: #ddd;
}
#workspaces button.visible {
  background: #c50;
  color: black;
}
#workspaces button.focused {  /* XXX: focused or current_output ?*/
  background: #fd0;
  color: black;
}
#workspaces button.urgent {
  background: #f44;
  color: black;
}


/* vim: set et ts=2 sw=2 sts=2: */
